In [1]:
import pandas as pd
import requests
import numpy as np

In [2]:
file_name="Prague_apartments_sale_2023-01-14.gzip"

In [3]:
file_name_desc=(file_name[:-5]+"_desc.gzip")
df=pd.read_parquet(file_name)
df_desc=pd.read_parquet(file_name_desc)

In [8]:
df.head()

,hash_id,price,price_czk,price_czk_unit,price_czk_name,area,lat,lon,locality,type,category,is_auction,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id,company_name
0,3551638604,16282000,16282000,,Celková cena,2593,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,18938.0,"Broker Consulting, a.s."
1,984844108,3587000,3587000,,Celková cena,1083,50.115738,14.447503,Praha 8 - Troja,1,3,False,1,3,23,1,NaN,None
2,1829402716,15920000,15920000,,Celková cena,1027,50.016376,14.436731,Praha 4,1,3,False,1,3,19,1,NaN,None
3,3488658508,6071000,6071000,,Celková cena,1015,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,NaN,None
4,4274041932,4967000,4967000,,Celková cena,783,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,NaN,None

In [9]:
df_desc.head()

,hash_id,description,discounted,price_original,id_order,date_update,building_type,building_condition,building_location,area_net,...,share_size,auction_initial_price,expert_opinion_official,auction_min_bid,auction_principal,auction_type,auction_place,auction_date,auction_decree,expert_opinion
0,3551638604,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,45177,Dnes,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,984844108,S výhradním zastoupením nabízím k prodeji hezk...,None,None,14423147,Dnes,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1829402716,Ve výhradním zastoupení nabízíme k prodeji sta...,None,None,Vila Kánova,Dnes,None,None,Klidná část obce,None,...,None,None,None,None,None,None,None,None,None,None
3,3488658508,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,46299,Dnes,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,4274041932,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,46301,Dnes,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [10]:
df_desc.shape

(20, 57)

In [11]:
df_desc.dtypes

hash_id                          object
description                      object
discounted                       object
price_original                   object
id_order                         object
date_update                      object
building_type                    object
building_condition               object
building_location                object
area_net                         object
area_floor                       object
price_total                      object
price_note                       object
transport                        object
area_build_up                    object
date_moving_in                   object
date_building_approval           object
equipped                         object
electricity                      object
traffic_communication            object
barrier_free                     object
id                               object
energy_efficient_rating          object
lift                             object
building_floor_type              object
building_floor                   object
water                            object
gas                              object
waste                            object
heating                          object
telecommunication                object
date_year_reconstruction         object
energy_efficient_rating_card     object
availability                     object
date_offer_start                 object
energy_efficient_rating_index    object
date_tour                        object
date_tour_to                     object
area_garden                      object
ceiling_height                   object
parking                          object
price_sqm                        object
office_count                     object
garage                           object
place_count                      object
basin                            object
area_landplot                    object
share_size                       object
auction_initial_price            object
expert_opinion_official          object
auction_min_bid                  object
auction_principal                object
auction_type                     object
auction_place                    object
auction_date                     object
auction_decree                   object
expert_opinion                   object
dtype: object

In [12]:
df.dtypes

hash_id                int64
price                  int64
price_czk              int64
price_czk_unit        object
price_czk_name        object
area                   int64
lat                  float64
lon                  float64
locality              object
type                   int64
category               int64
is_auction              bool
exclusively_at_rk      int64
category_main_cb       int64
category_sub_cb        int64
category_type_cb       int64
company_id           float64
company_name          object
dtype: object

In [15]:
df_desc['hash_id']=df_desc['hash_id'].astype(int)
df_full=pd.merge(df, df_desc, on="hash_id", how="left")
df_full.shape
df_full.head()

,hash_id,price,price_czk,price_czk_unit,price_czk_name,area,lat,lon,locality,type,...,share_size,auction_initial_price,expert_opinion_official,auction_min_bid,auction_principal,auction_type,auction_place,auction_date,auction_decree,expert_opinion
0,3551638604,16282000,16282000,,Celková cena,2593,50.095688,14.622637,Praha 9 - Horní Počernice,1,...,None,None,None,None,None,None,None,None,None,None
1,984844108,3587000,3587000,,Celková cena,1083,50.115738,14.447503,Praha 8 - Troja,1,...,None,None,None,None,None,None,None,None,None,None
2,1829402716,15920000,15920000,,Celková cena,1027,50.016376,14.436731,Praha 4,1,...,None,None,None,None,None,None,None,None,None,None
3,3488658508,6071000,6071000,,Celková cena,1015,50.095688,14.622637,Praha 9 - Horní Počernice,1,...,None,None,None,None,None,None,None,None,None,None
4,4274041932,4967000,4967000,,Celková cena,783,50.095688,14.622637,Praha 9 - Horní Počernice,1,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
df_full.describe()

,hash_id,price,price_czk,area,lat,lon,type,category,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id
count,5.190000e+02,5.190000e+02,5.190000e+02,519.000000,519.000000,519.000000,519.000000,519.0,519.000000,519.0,519.000000,519.000000,195.000000
mean,2.180093e+09,1.010364e+06,1.010364e+06,58.705202,50.062779,14.463385,1.466281,5.0,0.433526,5.0,42.512524,1.466281,17685.030769
std,1.236084e+09,5.867464e+06,5.867464e+06,413.133010,0.120389,0.261709,0.499343,0.0,0.496040,0.0,8.890113,0.499343,13858.675316
min,1.131886e+07,0.000000e+00,0.000000e+00,1.000000,49.548232,13.542668,1.000000,5.0,0.000000,5.0,34.000000,1.000000,47.000000
25%,1.148318e+09,2.000000e+03,2.000000e+03,19.000000,50.035186,14.377794,1.000000,5.0,0.000000,5.0,34.000000,1.000000,5888.500000
50%,2.197293e+09,1.630000e+05,1.630000e+05,23.000000,50.070681,14.454847,1.000000,5.0,0.000000,5.0,36.000000,1.000000,16305.000000
75%,3.205502e+09,1.022000e+06,1.022000e+06,27.000000,50.101598,14.522013,2.000000,5.0,1.000000,5.0,52.000000,2.000000,22204.000000
max,4.287010e+09,1.294930e+08,1.294930e+08,8843.000000,50.408164,15.411234,2.000000,5.0,1.000000,5.0,53.000000,2.000000,55986.000000

In [ ]:
df_full.isna().sum()

hash_id                            0
price                              0
price_czk                          0
area                               0
lat                                0
lon                                0
locality                           0
type                               0
category                           0
is_auction                         0
exclusively_at_rk                  0
category_main_cb                   0
category_sub_cb                    0
category_type_cb                   0
company_id                       320
company_name                     320
description                        0
discounted                       505
price_original                   504
id_order                          60
date_update                        0
building_type                      0
building_condition                 0
building_location                234
area_net                           0
area_floor                       485
price_total                       36
price_note                       265
transport                        414
area_build_up                    312
date_moving_in                   210
date_building_approval           481
equipped                         413
electricity                      383
traffic_communication            422
barrier_free                     409
id                               452
energy_efficient_rating          316
lift                             376
building_floor_type              350
building_floor                   392
water                            479
gas                              495
waste                            478
heating                          469
telecommunication                507
date_year_reconstruction         503
energy_efficient_rating_card     503
availability                     506
date_offer_start                 509
energy_efficient_rating_index    505
date_tour                        510
date_tour_to                     511
area_garden                      511
dtype: int64