In [34]:
import pandas as pd
import requests
import numpy as np

In [35]:
file_name="Prague_apartments_sale_2023-01-14.gzip"

In [36]:
file_name_desc=(file_name[:-5]+"_desc.gzip")
df=pd.read_parquet(file_name)
df_desc=pd.read_parquet(file_name_desc)

In [37]:
df.head()

,hash_id,price,price_czk,price_czk_unit,price_czk_name,area,lat,lon,locality,type,category,is_auction,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id,company_name
0,3551638604,16282000,16282000,,Celková cena,2593,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,18938.0,"Broker Consulting, a.s."
1,984844108,3587000,3587000,,Celková cena,1083,50.115738,14.447503,Praha 8 - Troja,1,3,False,1,3,23,1,NaN,None
2,1829402716,15920000,15920000,,Celková cena,1027,50.016376,14.436731,Praha 4,1,3,False,1,3,19,1,NaN,None
3,3488658508,6071000,6071000,,Celková cena,1015,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,NaN,None
4,4274041932,4967000,4967000,,Celková cena,783,50.095688,14.622637,Praha 9 - Horní Počernice,1,3,False,0,3,19,1,NaN,None

In [38]:
df_desc.head()

,description,discounted,price_original,id_order,date_update,building_type,building_condition,building_location,area_net,area_floor,...,share_size,auction_initial_price,expert_opinion_official,auction_min_bid,auction_principal,auction_type,auction_place,auction_date,auction_decree,expert_opinion
3551638604,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,45177,Dnes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
984844108,S výhradním zastoupením nabízím k prodeji hezk...,None,None,14423147,Dnes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1829402716,Ve výhradním zastoupení nabízíme k prodeji sta...,None,None,Vila Kánova,Dnes,None,None,Klidná část obce,None,None,...,None,None,None,None,None,None,None,None,None,None
3488658508,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,46299,Dnes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4274041932,"Skvělá dopravní dostupnost, kompletní občanská...",None,None,46301,Dnes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [39]:
df_desc.shape

(398, 56)

In [40]:
df_desc.dtypes

description                      object
discounted                       object
price_original                   object
id_order                         object
date_update                      object
building_type                    object
building_condition               object
building_location                object
area_net                         object
area_floor                       object
price_total                      object
price_note                       object
transport                        object
area_build_up                    object
date_moving_in                   object
date_building_approval           object
equipped                         object
electricity                      object
traffic_communication            object
barrier_free                     object
id                               object
energy_efficient_rating          object
lift                             object
building_floor_type              object
building_floor                   object
water                            object
gas                              object
waste                            object
heating                          object
telecommunication                object
date_year_reconstruction         object
energy_efficient_rating_card     object
availability                     object
date_offer_start                 object
energy_efficient_rating_index    object
date_tour                        object
date_tour_to                     object
area_garden                      object
ceiling_height                   object
parking                          object
price_sqm                        object
office_count                     object
garage                           object
place_count                      object
basin                            object
area_landplot                    object
share_size                       object
auction_initial_price            object
expert_opinion_official          object
auction_min_bid                  object
auction_principal                object
auction_type                     object
auction_place                    object
auction_date                     object
auction_decree                   object
expert_opinion                   object
dtype: object

In [41]:
df.dtypes

hash_id                int64
price                  int64
price_czk              int64
price_czk_unit        object
price_czk_name        object
area                   int64
lat                  float64
lon                  float64
locality              object
type                   int64
category               int64
is_auction              bool
exclusively_at_rk      int64
category_main_cb       int64
category_sub_cb        int64
category_type_cb       int64
company_id           float64
company_name          object
dtype: object

In [42]:
df_desc['hash_id']=df_desc['hash_id'].astype(int)
df_full=pd.merge(df, df_desc, on="hash_id")
df_full.shape
df_full.head()

KeyError: 'hash_id'

In [ ]:
df_full.shape

(20, 74)

In [ ]:
df_full.describe()

,hash_id,price,price_czk,area,lat,lon,type,category,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id
count,2.000000e+01,2.000000e+01,2.000000e+01,20.000000,20.000000,20.000000,20.0,20.0,20.000000,20.0,20.000000,20.0,11.000000
mean,2.468547e+09,1.434465e+07,1.434465e+07,1617.150000,50.075166,14.521484,1.0,3.0,0.300000,3.0,19.250000,1.0,16744.727273
std,1.197808e+09,2.968734e+07,2.968734e+07,1008.390551,0.049833,0.088147,0.0,0.0,0.470162,0.0,0.910465,0.0,13756.774237
min,4.857949e+08,0.000000e+00,0.000000e+00,396.000000,49.994118,14.376084,1.0,3.0,0.000000,3.0,19.000000,1.0,47.000000
25%,1.758380e+09,3.790250e+06,3.790250e+06,959.000000,50.030038,14.446441,1.0,3.0,0.000000,3.0,19.000000,1.0,6639.500000
50%,2.394087e+09,7.879000e+06,7.879000e+06,1126.500000,50.095122,14.501307,1.0,3.0,0.000000,3.0,19.000000,1.0,15925.000000
75%,3.539793e+09,1.379900e+07,1.379900e+07,2511.250000,50.105021,14.622637,1.0,3.0,1.000000,3.0,19.000000,1.0,23255.500000
max,4.274042e+09,1.379900e+08,1.379900e+08,3500.000000,50.157345,14.664879,1.0,3.0,1.000000,3.0,23.000000,1.0,40708.000000

In [ ]:
df_full.isna().sum()

hash_id             0
price               0
price_czk           0
price_czk_unit      0
price_czk_name      0
                 ...
auction_type      398
auction_place     398
auction_date      398
auction_decree    398
expert_opinion    398
Length: 74, dtype: int64