In [12]:
import pandas as pd
import requests
import numpy as np

In [13]:
file_name="df_garages_2022-12-22.gzip"

In [14]:
file_name_desc=(file_name[:-5]+"_desc.gzip")
df=pd.read_parquet(file_name)
df_desc=pd.read_parquet(file_name_desc)

In [15]:
df.head()

,hash_id,price,price_czk,area,lat,lon,locality,type,category,is_auction,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id,company_name
0,2670483276,1225000.0,1225000.0,21.0,50.035338,14.458362,Praha 4 - Michle,1,5,False,0,5,52,1,43314.0,Duna House
1,2495821644,1758000.0,1758000.0,21.0,50.057895,14.518219,Praha 10 - Strašnice,1,5,False,1,5,34,1,NaN,None
2,156955724,2000.0,2000.0,13.0,50.064158,14.500559,Praha 10 - Strašnice,2,5,False,1,5,34,2,NaN,None
3,2362082380,558000.0,558000.0,17.0,49.997397,14.413837,Praha 4 - Modřany,1,5,False,0,5,34,1,NaN,None
4,377640780,395000.0,395000.0,16.0,50.100554,14.498755,Praha 9 - Prosek,1,5,False,1,5,52,1,14367.0,Home Real Estate

In [16]:
df_desc.head()

,hash_id,description,discounted,price_original,id_order,date_update,building_type,building_condition,building_location,area_net,...,heating,telecommunication,date_year_reconstruction,energy_efficient_rating_card,availability,date_offer_start,energy_efficient_rating_index,date_tour,date_tour_to,area_garden
0,2670483276,Prodávám garážové stání v osobním vlastnictví ...,None,None,GR145386,Včera,Cihlová,Velmi dobrý,Klidná část obce,16,...,None,None,NaN,None,None,None,None,None,None,None
1,2495821644,Nabízím k prodeji zděnou garáž o velikosti 16 ...,None,None,14425911,Včera,Cihlová,Dobrý,None,16,...,None,None,NaN,None,None,None,None,None,None,None
2,156955724,Nabízíme garážové stání k pronájmu ve druhém p...,None,None,0384,Včera,Cihlová,Velmi dobrý,Centrum obce,10,...,None,None,NaN,None,None,None,None,None,None,None
3,2362082380,Nabízíme k prodeji parkovací stání o rozměrech...,None,None,PS.22,Včera,Smíšená,Novostavba,Klidná část obce,13,...,None,None,NaN,None,None,None,None,None,None,None
4,377640780,Společnost Home Real Estate nabízí na prodej v...,None,None,36008,Včera,Cihlová,Velmi dobrý,None,12,...,None,None,NaN,None,None,None,None,None,None,None

In [20]:
df_full=pd.merge(df, df_desc, on="hash_id")
df_full.shape
df_full.head()

,hash_id,price,price_czk,area,lat,lon,locality,type,category,is_auction,...,heating,telecommunication,date_year_reconstruction,energy_efficient_rating_card,availability,date_offer_start,energy_efficient_rating_index,date_tour,date_tour_to,area_garden
0,2670483276,1225000.0,1225000.0,21.0,50.035338,14.458362,Praha 4 - Michle,1,5,False,...,None,None,NaN,None,None,None,None,None,None,None
1,2495821644,1758000.0,1758000.0,21.0,50.057895,14.518219,Praha 10 - Strašnice,1,5,False,...,None,None,NaN,None,None,None,None,None,None,None
2,156955724,2000.0,2000.0,13.0,50.064158,14.500559,Praha 10 - Strašnice,2,5,False,...,None,None,NaN,None,None,None,None,None,None,None
3,2362082380,558000.0,558000.0,17.0,49.997397,14.413837,Praha 4 - Modřany,1,5,False,...,None,None,NaN,None,None,None,None,None,None,None
4,377640780,395000.0,395000.0,16.0,50.100554,14.498755,Praha 9 - Prosek,1,5,False,...,None,None,NaN,None,None,None,None,None,None,None

In [21]:
df_full.describe()

,hash_id,price,price_czk,area,lat,lon,type,category,exclusively_at_rk,category_main_cb,category_sub_cb,category_type_cb,company_id
count,5.190000e+02,5.190000e+02,5.190000e+02,519.000000,519.000000,519.000000,519.000000,519.0,519.000000,519.0,519.000000,519.000000,195.000000
mean,2.180093e+09,1.010364e+06,1.010364e+06,58.705202,50.062779,14.463385,1.466281,5.0,0.433526,5.0,42.512524,1.466281,17685.030769
std,1.236084e+09,5.867464e+06,5.867464e+06,413.133010,0.120389,0.261709,0.499343,0.0,0.496040,0.0,8.890113,0.499343,13858.675316
min,1.131886e+07,0.000000e+00,0.000000e+00,1.000000,49.548232,13.542668,1.000000,5.0,0.000000,5.0,34.000000,1.000000,47.000000
25%,1.148318e+09,2.000000e+03,2.000000e+03,19.000000,50.035186,14.377794,1.000000,5.0,0.000000,5.0,34.000000,1.000000,5888.500000
50%,2.197293e+09,1.630000e+05,1.630000e+05,23.000000,50.070681,14.454847,1.000000,5.0,0.000000,5.0,36.000000,1.000000,16305.000000
75%,3.205502e+09,1.022000e+06,1.022000e+06,27.000000,50.101598,14.522013,2.000000,5.0,1.000000,5.0,52.000000,2.000000,22204.000000
max,4.287010e+09,1.294930e+08,1.294930e+08,8843.000000,50.408164,15.411234,2.000000,5.0,1.000000,5.0,53.000000,2.000000,55986.000000

In [22]:
df_full.isna().sum()

hash_id                            0
price                              0
price_czk                          0
area                               0
lat                                0
lon                                0
locality                           0
type                               0
category                           0
is_auction                         0
exclusively_at_rk                  0
category_main_cb                   0
category_sub_cb                    0
category_type_cb                   0
company_id                       320
company_name                     320
description                        0
discounted                       505
price_original                   504
id_order                          60
date_update                        0
building_type                      0
building_condition                 0
building_location                234
area_net                           0
area_floor                       485
price_total                       36
price_note                       265
transport                        414
area_build_up                    312
date_moving_in                   210
date_building_approval           481
equipped                         413
electricity                      383
traffic_communication            422
barrier_free                     409
id                               452
energy_efficient_rating          316
lift                             376
building_floor_type              350
building_floor                   392
water                            479
gas                              495
waste                            478
heating                          469
telecommunication                507
date_year_reconstruction         503
energy_efficient_rating_card     503
availability                     506
date_offer_start                 509
energy_efficient_rating_index    505
date_tour                        510
date_tour_to                     511
area_garden                      511
dtype: int64